<h1> EVENTOS, lista and cadastro! </h1>
  <button (click)="selecionar(true)">Novo </button>
  <ul *ngFor= "let evento of eventos">
    <li>
        Sigla: {{evento.sigla}} --> Nome: {{evento.nome}} [Data Inicio: {{evento.dataInicio}} -- Data Fim: {{evento.dataFim}}]  -- Prazo {{evento.prazo}}
        <button (click)="excluir(evento)">Excluir</button>
        <button (click)="editar(evento)" (click)="selecionar(true)">Editar</button>
    </li>
  </ul>

  <h1> Cadastrar Evento</h1>
    <form *ngIf="selecionado == true" #cadastro="ngForm" (submit)="salvar()">

        Sigla: <input type="text" name="sigla" [(ngModel)]="sigla" required class="form-control">
        Nome: <input type="text" name="nome" [(ngModel)]="nome" required class="form-control">
        Prazo: <input type="date" name="prazo" [(ngModel)]="prazo" required class="form-control">
        URL: <input type="text" name="url" [(ngModel)]="url" required class="form-control">
        Data Início: <input type="date" name="dataInicio" [(ngModel)]="dataInicio" required class="form-control">
        Data Fim: <input type="date" name="dataFim" [(ngModel)]="dataFim" required class="form-control">

        <button type="submit"[disabled]="!cadastro.valid">Salvar</button>
        <button type="reset" (click)="cancelar()">Cancelar</button>
    </form>




